.v-center
    display: flex
    align-items: center

.icon-text
    display: flex
    align-items: center

    .icon:first-child:not(:last-child)
        margin-left: calc(-.375em - 1px)
        margin-right: .1875em

.upload input[type=file]
    display: none
