.v-center
    display: flex
    align-items: center

.icon-text
    display: flex
    align-items: center

    .icon:first-child:not(:last-child)
        margin-left: calc(-.375em - 1px)
        margin-right: .1875em

// --------------- buefy fix ----------------------

.button.is-text
    text-decoration: none

.navbar.is-fixed-top
    height: 52px

    & > .container
        height: 100%

    .navbar-brand
        height: 100%

    .navbar-burger
        height: 100%

.upload
    display: block
    width: 100%

    input[type=file]
        display: none

    .upload-draggable
        width: 100%

        .upload-area
            padding: 16px 0
            text-align: center
